@import "_bootstrap.scss";
@import "_color.scss";


.login-page {

    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;

    background-image: url(~assets/imgs/bgArabic.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "STV";
    box-sizing: border-box;

    &.BgEng {
        background-image: url(~assets/imgs/bg.png);
    }


    .container-fluid {


        .image {

            height: 90vh;
            display: flex;
            align-items: center;
            padding: 0 6.5rem;

            @media screen and (max-width:765px) {
                padding: 0 1rem;
            }

        }

        .loginForm {
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-form-container {


            h4 {

                color: $mainColor;
                font-size: 32px;
                margin-bottom: 2rem;
                font-weight: bold;
            }

            .sub-title {
                p {
                    margin-bottom: 2rem;
                    color: rgba($color: $textColor, $alpha: 0.38);
                }

                h4 {
                    margin: 0;
                }
            }

            h6 {
                color: $textColor;
                margin-bottom: 0.5rem;
                font-size: 18;
            }

            .el-input__inner {
                padding-right: 1.8rem;
                padding-left: 1.8rem;
                border: none;

                &::placeholder {
                    color: $subColor;
                    font-size: 16px;
                    padding-bottom: 1rem;
                }


            }

            .el-input__suffix {
                right: 8px;
                cursor: pointer;

                .el-input__suffix-inner {
                    color: $subColor;
                }
            }

            .el-input__prefix {
                left: 8px;
                cursor: pointer;

            }

            .first-btn {
                margin-top: 1.5rem;
            }

            .el-checkbox__label {
                padding-right: 10px;
                color: $textColor;
                font-size: 14px;
            }

            a {
                color: $textColor;
                text-decoration: none;
                font-size: 14px;
            }


            .error {
                color: #F56C6C;
                font-size: 12px;
            }

            .form-control {
                position: relative;
                width: 56px;
                height: 56px;
                margin-left: 1.25rem;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 24px;
                color: $mainColor;
                border: none;
                border-radius: 6px;
                box-shadow: none;
                box-shadow: 0px 0px 3px #dddddd;

                &::before {
                    content: "";
                    width: 18px;
                    height: 1px;
                    position: absolute;
                    top: 0.5em;
                    left: 0.5em;

                    border: 1px solid #DB833A;
                    background-color: #DB833A;


                }
            }
        }

        .subNote {
            font-size: 14px;
            color: $textColor !important;
        }
    }


}